# OMY network
OMY_IP=172.16.101.221
ZENOH_PORT=7447

# ROS 2
ROS_DOMAIN_ID=30
RMW_IMPLEMENTATION=rmw_zenoh_cpp

# Display
DISPLAY=:0

# iRASC stack image. Set this to your Docker Hub image before publish/fresh-clone tests.
IRASC_STACK_IMAGE=omy-irasc-stack:latest
# Cyclo Intelligence images
# Use arm64 tags on Jetson, e.g. robotis/lerobot-zenoh:1.3.2-arm64
CYCLO_INTELLIGENCE_IMAGE=robotis/cyclo-intelligence:1.2.0
LEROBOT_IMAGE=robotis/lerobot-zenoh:1.3.2-amd64
GROOT_IMAGE=robotis/groot-zenoh:1.3.4-amd64
